kube-config.yaml
apps/jellyfin/smb-creds.yaml
*.tfvars
*.tfstate
*.tfstate.*
*.lock.hcl
.terraform
infrastructure/*
k3s_cluster_bootstrap.sh
argocd-image-updater
argocd-image-updater.pub
argocd-image-updater-git-secret.yaml